<!-- homepage -->
<div class="container">
  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          class="input-error"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          ngModel
          #email="ngModel"
          required
          [appEmail]="appEmailDomains"
        />
      </p>

      <ng-container *ngIf="email.touched">
        <p *ngIf="email.errors?.['required']" class="error">
          Email is required!
        </p>
        <p *ngIf="email.errors?.['appEmailValidator']" class="error">
          Email is not valid!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #password="ngModel"
          required
          minlength="5"
        />
      </p>

      <ng-container *ngIf="password.touched">
        <p *ngIf="password.errors?.['required']" class="error">
          Password is required!
        </p>
        <p *ngIf="password.errors?.['minlength']" class="error">
          Password must be at least {{password.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>

      <button
        [disabled]="form.invalid"
        [style]="{backgroundColor: form.invalid ? 'gray' : '#4ebced'}"
      >
        Login
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
